<style>
form {
    border: 1px solid #ddd;
    padding:5px;
    width:225px;
    background: #efefe;
}

label{
    display: block;
    margin-top: 5px;
}

input, textarea, select, option {
    min-width: 200px;
}

.card {
  background: #efefef;
  border:1px solid #ddd;
  margin-right:5px;
  padding:5px;
  width: 200px;
  float:left;
}

h3 {
  min-height: 45px;
}

</style>
